<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child class="interactive">

      <div class="graphic-hed">COVID-19 rates vary across King County</div>

      <div class="graphic-chatter">In King County, the highest percentage of positive tests for COVID-19 are in South County.
        The highest rates of death, based on total population, are in Shoreline and parts of the Eastside.</div>
      <!-- content goes here -->
      <div class="buttonCon">
        <!-- <div id="cases" class="button">Total cases</div> -->
        <div id="tests_pos" class="button">Percent of tests that were positive</div>
        <div id="deaths" class="button">Deaths per 100,000 residents</div>
        <div id="tests" class="button">Tests per 100,000 residents</div>
      </div>

      <div id="legendCon">
        <div class="legend">
          <div class="color" style="background-color:#FAE2C1;"></div>
          <div class="number">
            <span class="tests">7,000 - 8,999 tests</span>
            <span class="deaths">0 - 19 deaths</span>
            <!-- <span class="cases">0 - 99 cases</span> -->
            <span class="tests_pos">0 - 2.9 %</span>
          </div>
        </div>
        <div class="legend">
          <div class="color" style="background-color:#F4BD6E;"></div>
          <div class="number">
            <span class="tests">9,000 - 10,999 tests</span>
            <span class="deaths">20 - 39 deaths</span>
            <!-- <span class="cases">100 - 199 cases</span> -->
            <span class="tests_pos">3.0 - 5.9 %</span>
          </div>
        </div>
        <div class="legend">
          <div class="color" style="background-color:#ED8A52;"></div>
          <div class="number">
            <span class="tests">11,000 - 12,999 tests</span>
            <span class="deaths">40 - 59 deaths</span>
            <!-- <span class="cases">200 - 299</span> -->
            <span class="tests_pos">6.0 - 8.9 %</span>
          </div>
        </div>
        <div class="legend">
          <div class="color" style="background-color:#E34D32;"></div>
          <div class="number">
            <span class="tests">13,000 - 14,999 tests</span>
            <span class="deaths">60 - 79 deaths</span>
            <!-- <span class="cases">300 - 399 cases</span> -->
            <span class="tests_pos">9 - 11.9 %</span>
          </div>
        </div>
        <div class="legend">
          <div id="last" class="color" style="background-color:#B22118;"></div>
          <div class="number">
            <span class="tests">15,000 + tests</span>
            <span class="deaths">80 + deaths</span>
            <!-- <span class="cases">400 + cases</span> -->
            <span class="tests_pos">12 % + </span>
          </div>
        </div>
      </div>

      <div id="map" class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=9>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>

        </div>
      </div>

      <figcaption class="source-container">
          <p class="data-source">Source: Public Health - Seattle & King County. Data from July 22, 2020.</p>
          <p class="art-credit">Lauren Flannery / The Seattle Times</p>
        </figcaption>


    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
