<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <!-- content goes here -->
      <div class="buttonCon">
        <!-- <div id="cases" class="button">Total cases</div> -->
        <div id="tests_pos" class="button">Percent of tests that were positive</div>
        <div id="deaths" class="button">Deaths per 100,000 residents</div>  
        <div id="tests" class="button">Tests per 100,000 residents</div>
      </div>

      <div id="legendCon">
        <div class="legend">
          <div class="color" style="background-color:#FAE2C1;"></div>
          <div class="number">
            <span class="tests">6,000 - 7,999 tests per 100,000 residents</span>
            <span class="deaths">0 - 9 deaths</span>
            <!-- <span class="cases">0 - 99 cases</span> -->
            <span class="tests_pos">0 - 299 positive cases per 100,000 residents</span>
          </div>
        </div>
        <div class="legend">
          <div class="color" style="background-color:#F4BD6E;"></div>
          <div class="number">
            <span class="tests">8,000 - 9,999 tests per 100,000 residents</span>
            <span class="deaths">10 - 19 deaths</span>
            <!-- <span class="cases">100 - 199 cases</span> -->
            <span class="tests_pos">300 - 599 positive cases per 100,000 residents</span>
          </div>
        </div>
        <div class="legend">
          <div class="color" style="background-color:#ED8A52;"></div>
          <div class="number">
            <span class="tests">10,000 - 11,999 tests per 100,000 residents</span>
            <span class="deaths">20 - 29</span>
            <!-- <span class="cases">200 - 299</span> -->
            <span class="tests_pos">600 - 899 positive cases per 100,000 residents</span>
          </div>
        </div>
        <div class="legend">
          <div class="color" style="background-color:#E34D32;"></div>
          <div class="number">
            <span class="tests">12,000 - 13,999 tests per 100,000 residents</span>
            <span class="deaths">30 - 39 deaths</span>
            <!-- <span class="cases">300 - 399 cases</span> -->
            <span class="tests_pos">900 - 1,199 positive cases per 100,000 residents</span>
          </div>
        </div>
        <div class="legend">
          <div id="last" class="color" style="background-color:#B22118;"></div>
          <div class="number">
            <span class="tests">14,000 + tests per 100,000 residents</span>
            <span class="deaths">40 + deaths</span>
            <!-- <span class="cases">400 + cases</span> -->
            <!-- <span class="tests_pos">1,200 + positive cases per 100,000 residents</span> -->
          </div>
        </div>
      </div>

      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=9>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>

        </div>
      </div>

      <figcaption class="source-container">
          <p class="data-source">Source: XXX</p>
          <p class="art-credit">Lauren Flannery / The Seattle Times</p>
        </figcaption>


    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
